* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #fffce6;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	width: 100%;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 1240px) {
		width: 1240px;
		padding: 0 20px;
	}
}

.main-block {
	padding-top: 400px;
	padding-bottom: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;

	@media (min-width: 1170px) {
		flex-direction: row;
		justify-content: flex-end;
	}
}

.display-none {
	display: none !important;
}

.position-relative {
	position: relative !important;
}

.btn {
	outline: none;
	text-decoration: none;
	padding: 8px 17px;
	padding-top: 3px;
	border-radius: 50px;
	border: 2px solid black;
	font-size: 30px;
	text-transform: lowercase;
	background-color: #fffce6;
	color: black;
	font-weight: 800;

	@media (min-width: 1170px) {
		font-size: 60px;
		padding: 12px 40px;
		padding-top: 3px;
	}
}

.text-mobile {
	display: block;
	width: 320px;
	font-size: 16px;
	line-height: 28px;

	@media (min-width: 1170px) {
		display: none;
	}
}

// data-aos="fade-up"
//     data-aos-offset="200"
//     data-aos-delay="50"
//     data-aos-duration="1000"
//     data-aos-easing="ease-in-out"
//     data-aos-mirror="true"
//     data-aos-once="false"
//     data-aos-anchor-placement="top-center"
