.contacts {
	background-color: black;
	color: #fffce6;
	padding-top: 80px;
	padding-bottom: 50px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		form {
			h1 {
				display: block;
				font-size: 30px;
				font-weight: 800;
				margin-bottom: 40px;
				margin-left: 20px;
				text-align: center;

				@media (min-width: 1170px) {
					font-size: 60px;
					margin-left: 0;
					margin-bottom: 100px;
				}
			}

			#userProblem {
				padding-top: 50px;
			}

			.input-items {
				display: flex;
				flex-direction: column;
				margin-left: 20px;
				margin-bottom: 100px;
				border-color: blueviolet;

				@media (min-width: 1170px) {
					align-items: flex-end;
					margin-left: 0px;
					width: 1096px;
					margin-bottom: 220px;
				}

				.input-item {
					// margin-bottom: 20px;
					display: flex;
					align-self: center;
					position: relative;

					@media (min-width: 1170px) {
						align-self: flex-end;
						margin-bottom: 20px;
					}
				}

				.input-item {
					.label-name {
						position: absolute;
						bottom: 5px;
						transition: 0.2s all;
					}
				}

				.input-item {
					.label-email {
						position: absolute;
						bottom: 5px;
						transition: 0.2s all;
					}
				}

				.input-item {
					.label-phone {
						position: absolute;
						bottom: 5px;
						transition: 0.2s all;
					}
				}
			}

			.label-user {
				font-size: 30px;
				margin-right: 70px;
				display: none;
				bottom: 5px;
				position: absolute;

				@media (min-width: 1170px) {
					display: block;
					position: relative;
					font-size: 60px;
					bottom: 5px;
				}
			}

			.label-user__mobile {
				font-size: 30px;
				margin-right: 70px;
				width: 100%;

				@media (min-width: 1170px) {
					display: none;
				}
			}

			.input-user {
				padding-bottom: 5px;
				padding-top: 15px;
				display: block;
				width: 280px;
				font-size: 30px;
				height: 63px;
				border: none;
				border-bottom: 2px solid #fffce6;
				outline: none;
				color: #fffce6;
				background-color: black;

				border-radius: 0%;

				@media (min-width: 1170px) {
					padding-bottom: 10px;
					padding-top: 15px;
					width: 740px;
					font-size: 60px;
					-webkit-box-shadow: inset 0 0 0 50px black;
					-webkit-text-fill-color: #fffce6;
				}

				&:-webkit-autofill {
					@media (min-width: 1170px) {
						background-color: black;
					}
				}

				&:invalid {
					outline: 0;
				}
			}

			a {
				width: 180px;
				margin-bottom: 150px;

				@media (min-width: 1170px) {
					width: 290px;
				}
			}

			.btn-black {
				display: block;
				color: #fffce6;
				background-color: black;
				border: 2px solid #fffce6;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}

			.textarea-user {
				display: block;
				padding: 10px;
				line-height: 28px;
				border: none;
				outline: none;
				resize: none;
				font-size: 24px;
				width: 80%;
				margin: 0 auto;
				background-color: black;
				border: 2px solid #fffce6;
				border-radius: 2px;
				color: #fffce6;
				margin-bottom: 60px;

				@media (min-width: 1170px) {
					width: 90%;
					font-size: 60px;
					line-height: 60px;
					padding: 20px;
				}

				&::placeholder {
					font-size: 20px;
					color: #fffce6;
					opacity: 0.3;

					@media (min-width: 1170px) {
						font-size: 40px;
					}
				}
			}
		}

		.input-user:focus ~ .label-name,
		.input-user:valid ~ .label-name {
			font-size: 14px;
			top: 0px;
		}

		.input-user:focus ~ .label-email,
		.input-user:valid ~ .label-email {
			font-size: 14px;
			top: 0px;
		}

		.input-user:focus ~ .label-phone,
		.input-user:valid ~ .label-phone {
			font-size: 14px;
			top: 0px;
		}
	}
}
