.cooperation {
	padding-top: 110px;
	padding-bottom: 65px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// background-color: aquamarine;

	@media (min-width: 1170px) {
		padding-top: 480px;
		padding-bottom: 65px;
	}

	

	.coop-flex-block {
		width: 100%;
		display: flex;
		flex-direction: row;
		position: relative;
		margin-bottom: 324px;
		justify-content: end;
		padding-right: 160px;
	}

	.clique {
		font-size: 78px;
		line-height: 58px;
		font-weight: 800;
		transform: translateX(-301px);
		width: auto;
		
	}

	.text {
		display: none;
		font-size: 16px;
		margin: 0;
		padding: 0;
		
		
		@media (min-width: 1170px) {
			display: block;
		}
	}

	.text-mobile {
		display: block;
		font-size: 16px;
		align-content: center;
		margin-bottom: 370px;

		@media (min-width: 1170px) {
			display: none;
		}
	}

	a {
		width: 320px;
		text-align: center;

		@media (min-width: 1170px) {
			width: 650px;
		}
	}

	.btn-ligth {
		&:active {
			opacity: 0.8;
			transition: none;
			color: #fffce6;
				background-color: black;
		}

		@media (min-width: 1170px) {
			&:hover {
				color: #fffce6;
				background-color: black;
				transition: all ease 0.3s;
			}
	
			&:active {
				opacity: 0.8;
				transition: none;
			}
		}
	}

	.clique-mobile {
		display: block;
		font-size: 60px;
		line-height: 32px;
		margin-right: 10px;
		font-weight: 800;
		margin-bottom: 100px;
		width: 320px;

		@media (min-width: 1170px) {
			display: none;
		}
	}
}
