.main-header {
	padding-bottom: 390px;
	padding-top: 390px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// background-color: lightseagreen;

	@media (min-width: 1170px) {
		padding-bottom: 470px;
		padding-top: 470px;
	}

	@media (max-width: 1536px) {
		@media (min-width: 1170px) {
			padding-bottom: 620px;
			padding-top: 300px;
		}

	}

	.main-name {
		display: flex;
		justify-content: flex-end;
		width: 326px;
		opacity: 1;

		@media (min-width: 1170px) {
			display: flex;
			justify-content: flex-end;
			width: 820px;
		}
	}

	.main-name-mobile {
		display: flex;
		justify-content: flex-end;
		width: 326px;
		opacity: 0;
		background-color: aqua;
		position: absolute;
		margin-left: 0px;

		@media (min-width: 1170px) {
			display: none;
		}
	}

	.people {
		z-index: 2;
		display: none;

		@media (min-width: 1170px) {
			display: block;
		}
	}

	.made {
		text-align: right;
	}

	.clique {
		text-align: right;
	}

	.people-main-mobile {
		opacity: 1;
		margin-right: 14px;

		@media (min-width: 1170px) {
			display: none;
		}
	}

	.people-fixed {
		position: fixed;
		transform: translateX(-274px);
		opacity: 1;
		z-index: 1;
		display: none;
		padding: 0;
		margin: 0;
		

		@media (min-width: 1170px) {
			display: block;
		}
	}

	.people-fixed-mobile {
		position: fixed;
		font-size: 32px;
		line-height: 32px;
		font-weight: 800;
		transform-origin: left top;
		left: 50%;
		
		transform: translateX(-150px);
		
		@media (max-width: 410px) {
			left: 23px;
		}

		@media (min-width: 1170px) {
			display: none;
		}
	}

	.z-index {
		z-index: 4;
	}

	.made-fixed {
		transform: translateX(-298px);
		position: fixed;
		opacity: 0;
		display: none;
		padding: 0;
		margin: 0;

		@media (min-width: 1170px) {
			display: block;
		}
	}
	.clique-fixed {
		position: fixed;
		opacity: 0;
		display: none;
		padding: 0;
		margin: 0;

		@media (min-width: 1170px) {
			display: block;
			transform: translateX(-287px);
		}
	}

	a {
		font-size: 32px;
		line-height: 32px;
		margin-right: 10px;
		font-weight: 800;

		@media (min-width: 1170px) {
			font-size: 78px;
			line-height: 78px;
			margin-right: 40px;
		}

		&:last-child {
			margin-right: 0px;
		}
	}
}
