.works {
	padding-top: 110px;
	padding-bottom: 420px;
	// background-color: mediumorchid;

	@media (min-width: 1170px) {
		padding-top: 480px;
		padding-bottom: 470px;

		@media (max-width: 1536px) {
			padding-top: 440px;
		padding-bottom: 450px;
		}
	}

	.text {
		display: none;
		font-size: 16px;
		width: 370px;
		margin-right: 100px;

		@media (min-width: 1170px) {
			display: block;
		}
	}

	.made-mobile {
		display: block;
		font-size: 60px;
		line-height: 32px;
		margin-right: 10px;
		font-weight: 800;
		margin-bottom: 100px;
		width: 320px;

		@media (min-width: 1170px) {
			display: none;
		}
	}
}
